.rodape {
    flex-shrink: 0;
    background-color: black;
    color: wheat;
    padding: 30px;
    text-align: center;
}

.textos-footer {
    color: khaki;
    font-family: 'Numans', sans-serif;
    font-size: 13px;
    justify-content: center;
}

.textofinal-footer {
    color: khaki;
    font-family: 'Numans', sans-serif;
    font-size: 13px;
    display: inline;
    justify-content: center;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.social_icon span {
    font-size: 40px;
    margin-left: 10px;
    position: relative;
    color: rgb(221, 195, 85);
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}