* {
    margin: 0;
    padding: 0;
}

.bloco {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.links {
    margin-left: 178px;
    justify-content: center;
    width: 74%;
    height: 50px;
    position: fixed;
    display: flex;
    min-width: 1000px;
}

.links label {
    padding: 10px 0;
    flex-grow: 1;
    cursor: pointer;
    transition: all .4s;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #fff;
}

.links label:hover {
    background-color: rgba(80, 70, 41, 0.767);
}

.scroll input {
    display: none;
}

#home {
    background-image: url('/imagens/scrolltop.jpg');
    background-size: 90%;
    margin-left: -1%;
    background-repeat: no-repeat;
    min-width: 1600px;
}

#racas {
    background-image: url('/imagens/scrollmid.jpg');
    background-position-y: -100vh;
    background-size: 85%;
    margin-left: 2%;
    background-repeat: no-repeat;
    min-width: 1600px;
}

#classes {
    background-image: url('/imagens/scrollmid.jpg');
    background-position-y: -100vh;
    background-size: 85%;
    margin-left: 2%;
    background-repeat: no-repeat;
    min-width: 1600px;
}

#antecedentes {
    background-image: url('/imagens/scrollmid.jpg');
    background-position-y: -100vh;
    background-size: 85%;
    margin-left: 2%;
    background-repeat: no-repeat;
    min-width: 1600px;
}

#magias {
    background-image: url('/imagens/scrollmid.jpg');
    background-position-y: -100vh;
    background-size: 85%;
    margin-left: 2%;
    background-repeat: no-repeat;
    min-width: 1600px;
}

#equipamentos {
    background-image: url('/imagens/scrollbot.jpg');
    background-position-y: -20vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: 85%;
    margin-left: 2%;
    min-width: 1600px;
}

.scroll {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.sections {
    transition: all .4s;
}

#rd_racas:checked~.sections {
    margin-top: -100vh;
}

#rd_classes:checked~.sections {
    margin-top: -200vh;
}

#rd_antecedentes:checked~.sections {
    margin-top: -300vh;
}

#rd_magias:checked~.sections {
    margin-top: -400vh;
}

#rd_equipamentos:checked~.sections {
    margin-top: -500vh;
}

#home p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(41, 1, 1);
    text-shadow: black 1px 1px;
    width: 1200px;
    margin-top: 600px;
}

#racas p {
    text-align: center;
    color: rgb(41, 1, 1);
    text-shadow: black 1px 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    width: 800px;
}