* {
    margin: 0;
    padding: 0;
}

.bloco {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /*display: flex;*/
}

.links {
    justify-content: center;
    width: 100%;
    height: 197px;
    position: fixed;
    display: flex;
    background-image: url('/imagens/scrolltop.png');
    background-size: 100%;
    background-repeat: no-repeat;
    min-width: 1000px;
}

.links label {
    padding: 20px 0;
    flex-grow: 1;
    cursor: pointer;
    transition: all .4s;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #fff;
}

.links label:hover {
    background-color: rgba(80, 70, 41, 0.767);
}

.scroll input {
    display: none;
}

#home {
    background-image: url('/imagens/scrollmid.jpg');
    background-size: 100%;
    margin-left: 0%;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 1000px;
}

.container {
    height: 60vh;
    width: 120vh;
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.logo {
    color: #fff;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -1%);
}

.logo img {
    width: 100%;
    height: auto;
}

.paragrafo {
    color: rgb(41, 1, 1);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.2vh;
    color: rgb(41, 1, 1);
    text-shadow: black 1px 1px;
    position: absolute;
    top: 90%;
    left: 10%;
    transform: translate(-5%, -90%);
}

.paragrafo p {
    width: 100%;
    height: auto;
}

#racas {
    background-image: url('/imagens/scrollmid.jpg');
    background-position-y: -100vh;
    background-size: 100%;
    margin-left: 0%;
    background-repeat: repeat-y;
}

#classes {
    background-image: url('/imagens/scrollmid.jpg');
    background-position-y: -100vh;
    background-size: 100%;
    margin-left: 0%;
    background-repeat: repeat-y;
}

#antecedentes {
    background-image: url('/imagens/scrollmid.jpg');
    background-position-y: -100vh;
    background-size: 100%;
    margin-left: 0%;
    background-repeat: repeat-y;
}

#magias {
    background-image: url('/imagens/scrollmid.jpg');
    background-position-y: -100vh;
    background-size: 100%;
    margin-left: 0%;
    background-repeat: repeat-y;
}

#equipamentos {
    background-image: url('/imagens/scrollbot.jpg');
    background-position-y: -20vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 0%;
}

.scroll {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.sections {
    transition: all .4s;
}

#rd_racas:checked~.sections {
    margin-top: -100vh;
}

#rd_classes:checked~.sections {
    margin-top: -200vh;
}

#rd_antecedentes:checked~.sections {
    margin-top: -300vh;
}

#rd_magias:checked~.sections {
    margin-top: -400vh;
}

#rd_equipamentos:checked~.sections {
    margin-top: -500vh;
}

#racas p {
    text-align: center;
    color: rgb(41, 1, 1);
    text-shadow: black 1px 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    width: 800px;
}